body{
  margin: auto;
  font-size: 25px;
  font-family: serif;
  background: #ffffee;
  position: relative;
}

#hoge{
  content: '';
  position:absolute;
  position: absolute;
  top: 50px;
  left: 50px;

}

.fuga{
  content: '';

  color: #f30;
  transform-origin: 0% 100%;
  transform: rotate(0deg) skew(0deg,5deg);
  opacity: 0.5;
}