<style>
#header {
    font-family: tahoma;
    background-color:#FFDEAD;
    color:#8B7355;
    text-align:center;
    padding:5px;
    text-align:center;
 
}
#nav {
    font-family: tahoma;
    line-height:30px;
    background-color:#FFD39B;
    height:150px;
    width:1280px;
     text-align:center;
    padding:5px; 
    color:#8B7355;

}
#section {
    font-family: tahoma;
    width:1200px;
    float:left;
    padding:10px;
    color:##8B7E66; 
}
#footer {
    font-family: tahoma;
    background-color:#FFD39B;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}
</style>